body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    flex: 1;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p, ul {
    font-size: 1em;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}

.gallery {
    display: flex;
    gap: 10px;
}

.gallery img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
}

/* Adicione isso ao seu arquivo styles.css */

#translate-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    outline: none; /* Remove o contorno padrão ao focar */
}

#translate-btn:hover {
    background-color: #2980b9;
}

#translate-btn:active {
    background-color: #2980b9;
    transform: scale(0.98); /* Efeito de clique */
}
